.navbar-image{
    max-width:24px;
}
.search-form{
    min-width:100%;
}
.footer{
    background-color:#eeeeee;
    padding:10px;
}
.main{
    min-height:550px;
    margin-top:50px;
    margin-bottom:50px;
}
.no-padding{
    padding:0;
}
.capitalize, .caps{
    text-transform:capitalize;
}
.no-show{
    visibility:hidden;
    display:none;
}

.front-products img, .responsive-image{
    width:100%;
}
.front-products .price{
    height:initial;
    width:auto;
    display:block;
}
.price{
      font-weight:bold;
}
.price::before{
    content:"$";
    display:inline-block;
    margin-right:3px;
    margin-left:3px;
}
.price{
    font-size:16px;
    height:40px;
    width:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:5px;
}
.store-product{
    text-decoration:none;
    display:block;
    box-sizing:border-box;
    padding:2px;
    border:1px solid transparent;
}
.store-product h4{
    text-decoration:none;
    color:#333333;
}
.store-product:hover{
    text-decoration:none;
    border:1px solid #cccccc;
}
.flex-end{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content:flex-end;
}
.product-detail{
    min-height:300px;
}
.product-buttons{
    margin-top:10px;
}

.panel{
    min-height:500px;
}
.form-control.error{
    border:1px dotted red;
}
.alert:empty{
    height:0px;
    margin:0;
    padding:0;
}
/*animation for spinner image*/
.spinner{
    max-width:24px;
    animation-name:spinner;
    animation-duration:2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    animation-play-state:paused;
    display:none;
}
@keyframes spinner{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
.form-meta{
    padding:10px 0;
}

.strike{
    color:#666666;
    text-decoration:line-through;
}
.special{
    position:absolute;
    bottom:10px;
    right:20px;
    color:white;
    background-image:url("images/special.png");
    background-size:cover;
    padding:20px;
    box-sizing:border-box;
    width:60px;
    height:60px;
}
/*change position of the 
special price in single product view*/
.product-detail .special{
    position:static;
}
.product{
    position:relative;
}
.quantity{
    display:inline-block;
    max-width:60px;
}