.navbar-image{
    max-width:30px;
}
.search-form{
    min-width:100%;
}
.footer{
    background-color:#eeeeee;
    padding:10px;
}
.main{
    min-height:550px;
    margin-top:50px;
    margin-bottom:50px;
}
.no-padding{
    padding:0;
}
.capitalize, .caps{
    text-transform:capitalize;
}
.no-show{
    visibility:hidden;
    display:none;
}

.front-products img, .responsive-image{
    width:100%;
}
.front-products .price{
    height:initial;
    width:auto;
    display:block;
}
.price{
      font-weight:bold;
}
.price::before{
    content:"$";
    display:inline-block;
    margin-right:3px;
    margin-left:3px;
}
.price{
    font-size:16px;
    height:40px;
    width:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:5px;
}
.store-product{
    text-decoration:none;
    display:block;
    box-sizing:border-box;
    padding:2px;
    border:1px solid transparent;
}
.store-product h4{
    text-decoration:none;
    color:#333333;
}
.store-product:hover{
    text-decoration:none;
    border:1px solid #cccccc;
}
.flex-end{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content:flex-end;
}
.product-detail{
    min-height:300px;
}
.product-buttons{
    margin-top:10px;
    position:relative;
}
.product-buttons .btn{
    color:#db371a;
}
.product-buttons .fa{
    color:#db371a;
}
.panel{
    min-height:500px;
}
.form-control.error{
    border:1px dotted red;
}
.alert:empty{
    height:0px;
    margin:0;
    padding:0;
}
/*animation for spinner image*/
.spinner{
    position:absolute;
    max-width:24px;
    animation-name:spinner;
    animation-duration:2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    animation-play-state:paused;
    display:none;
}
.product .spinner{
    right:18%;
    bottom:0px;
    transform:translateX(50%);
    z-index:1000;
}
.product .alert{
    position:absolute;
    bottom:-30px;
    left:0px;
    width:auto;
}
.front-products .spinner{
    right:50px;
    bottom:5px;
}
@keyframes spinner{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
.form-meta{
    padding:10px 0;
}

.strike{
    color:#666666;
    text-decoration:line-through;
}
.special{
    position:absolute;
    bottom:10px;
    right:20px;
    color:white;
    background-image:url("images/special.png");
    background-size:cover;
    padding:20px;
    box-sizing:border-box;
    width:60px;
    height:60px;
}
.front-products .special {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
}
.product .special{
    z-index:999;
    bottom:100px;
}
/*change position of the 
special price in single product view*/
.product-detail .special{
    position:static;
}
.product{
    position:relative;
    min-height:400px;
}
.quantity{
    display:inline-block;
    max-width:60px;
}
.search-row{
    margin:20px 0;
}
/*user dashboard*/
.wishlist-item{
    margin:20px 0;
    border:1px solid #eeeeee;
    border-radius:4px;
    padding:10px;
    position:relative;
    overflow:hidden;
}
.wishlist-item .spinner{
    position:absolute;
    bottom:0;
    z-index:1000;
}
.wishlist-item-info{
    display:flex;
    flex-direction:row;
}
.wishlist-item-image{
    max-width:200px;
    min-height:150px;
    background-color:#cccccc;
    padding:10px;
}
.wishlist-item-price{
    padding:0 10px;
    display:flex;
    flex-direction:row;
    align-items:flex-end;
}
.wishlist-action{
    display:flex;
    flex-direction:row;
    align-items:flex-end;
    min-width:200px;
}
.cart-row{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    border:1px solid #cccccc;
    border-radius:8px;
    margin:10px 0;
    position:relative;
}
.cart-item-image{
    max-width:150px;
    min-height:150px;
    background-color:#cccccc;
    border-right:1px solid #cccccc;
}
.cart-item-image img{
    width:100%;
}
.cart-item-name{
    width:150px;
    padding:10px;
    display:flex;
    align-items:flex-start;
}
.cart-item-price{
    font-size:18px;
    font-weight:600;
    padding:28px 20px;
}
.cart-item-price.special{
    position:static;
}
.cart-item-qty{
    padding:10px;
    width:80px;
}
.cart-item-remove{
    align-self:flex-end;
}
.cart-total{
    display:flex;
    justify-content:flex-end;
}
.cart-total .price{
    height:auto;
    width:auto;
    display:inline;
    padding:0;
}